<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="/styles/theme.css">
    <link rel="stylesheet" type="text/css" href="/styles/order.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    // Add smooth scrolling to all links
    $(".scroll").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
    });
    </script>
  </head>

  <body>
    <header>
      <%-
       include('./partials/nav.ejs') %>
    </header>
    <main id="main-container">
      <div id="left-column">
        <h4>Categories</h4>
        <a class="scroll" href="#patties">Patties</a>
        <a class="scroll" href="#meals">Meals</a>
        <a class="scroll" href="#snacks">Snacks</a>
        <a class="scroll" href="#other">Other</a>
        <a class="scroll" href="#drinks">Drinks</a>
        </div>
      </div>
      <div id="menu-items">
        <h4>Menu</h4>
        <div id="all-items">
        <table class="table" id="table-items">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <th id='patties'>PATTIES</th>
            <% for(let item in menuItems['1']) { %>
            <% let idName = menuItems['1'][item].name.replace(/ /g, '-').toLowerCase(); %>
            <tr id=<%= idName %>>
              <th><img class="food-image" src=<%= menuItems['1'][item].image_url %>></th>
              <th id=<%= idName + '-name' %>><%= menuItems['1'][item].name %></th>
              <th id=<%= idName + '-price' %>><%= menuItems['1'][item].price %></th>
              <th><a class="item-btn" id=<%= idName + '-btn' %> href="#">+</a></th>
              <th><%= menuItems['1'][item].description %></th>
            </tr>
            <% } %>
            <th id="meals">MEALS</th>
            <% for(let item in menuItems['2']) { %>
              <% let idName = menuItems['2'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <tr id=<%= idName %>>
                <th><img class="food-image" src=<%= menuItems['2'][item].image_url %>>></th>
                <th id=<%= idName + '-name' %>><%= menuItems['2'][item].name %></th>
                <th id=<%= idName + '-price' %>><%= menuItems['2'][item].price %></th>
                <th><a class="item-btn" id=<%= idName + '-btn' %> href="#">+</a></th>
                <th><%= menuItems['2'][item].description %></th>
              </tr>
              <% } %>
            </div>
            <th id="snacks">SNACKS</th>
            <% for(let item in menuItems['3']) { %>
              <% let idName = menuItems['3'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <tr id=<%= idName %>>
                <th><img class="food-image" src=<%= menuItems['3'][item].image_url %>></th>
                <th id=<%= idName + '-name' %>><%= menuItems['3'][item].name %></th>
                <th id=<%= idName + '-price' %>><%= menuItems['3'][item].price %></th>
                <th><a class="item-btn" id=<%= idName + '-btn' %> href="#">+</a></th>
                <th><%= menuItems['3'][item].description %></th>
              </tr>
              <% } %>
            <th id="other">OTHER</th>
            <% for(let item in menuItems['5']) { %>
              <% let idName = menuItems['5'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <tr id=<%= idName %>>
                <th><img class="food-image" src=<%= menuItems['5'][item].image_url %>></th>
                <th id=<%= idName + '-name' %>><%= menuItems['5'][item].name %></th>
                <th id=<%= idName + '-price' %>><%= menuItems['5'][item].price %></th>
                <th><a class="item-btn" id=<%= idName + '-btn' %> href="#">+</a></th>
                <th><%= menuItems['5'][item].description %></th>
              </tr>
              <% } %>
            <th id="drinks">DRINKS</th>
            <% for(let item in menuItems['4']) { %>
              <% let idName = menuItems['4'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <tr id=<%= idName %>>
                <th><img class="food-image" src=<%= menuItems['4'][item].image_url %>></div></th>
                <th id=<%= idName + '-name' %>><%= menuItems['4'][item].name %></th>
                <th id=<%= idName + '-price' %>><%= menuItems['4'][item].price %></th>
                <th><a class="item-btn" id=<%= idName + '-btn' %> href="#">+</a></th>
                <th><%= menuItems['4'][item].description %></th>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      </div>
      <div id="cart-container">
        <h4>Cart</h4>
        <form id="cart-container" action="/order/place_order" method="POST">
          <div id="item-container">
          </div>
          <div id="price-container">
            $<span name="price" id="price-total">0</span>
          </div>
          <div id="cart-submit">
            <input type="submit" name="submit" value="place order"
                                               id="cart-submit-btn">
        </form>

      </div>
    </main>

  </body>
</html>

