<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="/styles/theme.css">
    <link rel="stylesheet" type="text/css" href="/styles/order.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>

  <body>
    <header>
      <%-
       include('./partials/nav.ejs') %>
    </header>
    <main id="main-container">
      <div id="left-column">
        <h4>Categories</h4>
        <div id="categories">
          <a href="#go-here" style="margin-top: 5px;">Patties</button>
          <a href="" style="margin-top: 5px;">Meals</button>
          <a href="" style="margin-top: 5px;">Snacks</button>
          <a href="" style="margin-top: 5px;">Other</button>
          <a href="" style="margin-top: 5px;">Drinks</button></a>
        </div>
      </div>
      <div id="menu-items">
        <h4>Menu</h4>
        <div id="all-items">
        <table class="table" id="table-items">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <% for(let item in menuItems) { %>
            <% let idName = menuItems[item].name.replace(/ /g, '-').toLowerCase(); %>
            <tr id=<%= idName %>>
              <th><img class="food-image" src=<%= menuItems[item].image_url %>></div></th>
              <th id=<%= idName + '-name' %>><%= menuItems[item].name %></th>
              <th id=<%= idName + '-price' %>><%= menuItems[item].price %></th>
              <th><a class="item-btn" id=<%= idName + '-btn' %> href="#">+</a></th>
              <th><%= menuItems[item].description %></th>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>
      <div id="cart-container">
        <h4>Cart</h4>
        <form id="cart-container" action="/order/place_order" method="POST">
          <div id="item-container">
          </div>
          <div id="price-container">
            $<span name="price" id="price-total">0</span>
          </div>
          <div id="cart-submit">
            <input type="submit" name="submit" value="place order"
                                               id="cart-submit-btn">
        </form>

      </div>
    </main>

  </body>
</html>

