<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="/styles/theme.css">
    <link rel="stylesheet" type="text/css" href="/styles/order.css">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script>
    $(document).ready(function(){
    // Add smooth scrolling to all links
    $(".scroll").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();
        // Store hash
        const hash = this.hash;
        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top - 100
        }, 800, function(){
        });
      } // End if
    });
    });
    </script>
  </head>

  <body>
    <header>
      <%-
       include('./partials/nav.ejs') %>
    </header>
    <main id="main-container">
      <div id="left-column">
        <div id="bg-image-left"></div>
        <a class="scroll" id="scroll-link" href="#patties"><span id="bar">|</span>PATTIES</a>
        <a class="scroll" id="scroll-link" href="#meals"><span id="bar">|</span>MEALS</a>
        <a class="scroll" id="scroll-link" href="#snacks"><span id="bar">|</span>SNACKS</a>
        <a class="scroll" id="scroll-link" href="#other"><span id="bar">|</span>OTHER</a>
        <a class="scroll" id="scroll-link" href="#drinks"><span id="bar">|</span>DRINKS</a>
        </div>
      </div>
      <div id="menu-items">
        <div id="all-items">
        <div class="table" id="table-items">
          <div id="menu-title">KRUSTY KRAB MENU</div>
          <div class="subtitles" id='patties'>PATTIES</div>
            <% for(let item in menuItems['1']) { %>
            <% let idName = menuItems['1'][item].name.replace(/ /g, '-').toLowerCase(); %>
            <div class="single-item" id=<%= idName %>>
              <div class="important-details">
                <div class="food-name" id=<%= idName + '-name' %>><%= menuItems['1'][item].name %></div>
                <div class="price-add">
                <div class="price" id=<%= idName + '-price' %>><%= '$' +
                  Number(menuItems['1'][item].price / 100).toFixed(2) %></div>
                <div><a class="item-add" id=<%= idName + '-btn' %>
                    href="javascript:null" onclick="return null">+</a></div>
                </div>
              </div>
              <div class="extra-details">
                <img class="food-image" src=<%= menuItems['1'][item].image_url %>>
                <div class="description"><%= menuItems['1'][item].description %></div>
              </div>
            </div>
            <% } %>
            <table>
            <div class="subtitles" id="meals">MEALS</div>
            <% for(let item in menuItems['2']) { %>
              <% let idName = menuItems['2'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <div class="single-item" id=<%= idName %>>
                <div class="important-details">
                  <div class="food-name" id=<%= idName + '-name' %>><%= menuItems['2'][item].name %></div>
                  <div class="price-add">
                  <div class="price" id=<%= idName + '-price' %>><%= '$' + menuItems['2'][item].price / 100 %></div>
                  <div><a class="item-add" id=<%= idName + '-btn' %> href="#">+</a></div>
                  </div>
                </div>
                <div class="extra-details">
                <img class="food-image" src=<%= menuItems['2'][item].image_url %>>
                <div class="description"><%= menuItems['2'][item].description %></div>
                </div>
              </div>
              <% } %>
            <div class="subtitles" id="snacks">SNACKS</div>
            <% for(let item in menuItems['3']) { %>
              <% let idName = menuItems['3'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <div class="single-item" id=<%= idName %>>
                <div class="important-details">
                  <div class="food-name" id=<%= idName + '-name' %>><%= menuItems['3'][item].name %></div>
                  <div class="price-add">
                    <div class="price" id=<%= idName + '-price' %>><%= '$' + menuItems['3'][item].price / 100 %></div>
                    <div><a class="item-add" id=<%= idName + '-btn' %> href="#">+</a></div>
                  </div>
                </div>
                <div class="extra-details">
                <img class="food-image" src=<%= menuItems['3'][item].image_url %>>
                <div class="description"><%= menuItems['3'][item].description %></div>
              </div>
              </div>
              <% } %>
            <div class="subtitles" id="other">OTHER</div>
            <% for(let item in menuItems['5']) { %>
              <% let idName = menuItems['5'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <div class="single-item" id=<%= idName %>>
                <div class="important-details">
                  <div class="food-name" id=<%= idName + '-name' %>><%= menuItems['5'][item].name %></div>
                  <div class="price-add">
                    <div class="price" id=<%= idName + '-price' %>><%= '$' + menuItems['5'][item].price / 100 %></div>
                    <div><a class="item-add" id=<%= idName + '-btn' %> href="#">+</a></div>
                  </div>
                </div>
                <div class="extra-details">
                  <img class="food-image" src=<%= menuItems['5'][item].image_url %>>
                  <div class="description"><%= menuItems['5'][item].description %><>
                </div>
              </div>
              <% } %>
            <div class="subtitles" id="drinks">DRINKS</div>
            <% for(let item in menuItems['4']) { %>
              <% let idName = menuItems['4'][item].name.replace(/ /g, '-').toLowerCase(); %>
              <div class="single-item" id=<%= idName %>>
                <div class="important-details">
                  <div class="food-name" id=<%= idName + '-name' %>><%= menuItems['4'][item].name %></div>
                  <div class="price-add">
                    <div class="price" id=<%= idName + '-price' %>><%= '$' + menuItems['4'][item].price / 100 %></div>
                    <div><a class="item-add" id=<%= idName + '-btn' %> href="#">+</a></div>
                  </div>
                </div>
                <div class="extra-details">
                  <img class="food-image" src=<%= menuItems['4'][item].image_url %>></div>
                  <div class="description"><%= menuItems['4'][item].description %></th>
                </div>
              <% } %>
        </div>
      </div>
      </div>
      <div id="cart-container">
        <h4>Cart</h4>
        <form id="cart-form" action="/order/order_summary" method="POST">
          <div id="item-container">
          </div>
          <div id="price-container">
            Total <div>$<span name="price" id="price-total">0</span></div>
          </div>
          <div id="cart-submit">
            <input type="submit" name="submit" value="place order"
                                               id="cart-submit-btn">
          </div>
        </form>

      </div>
    </main>

  </body>
</html>

